<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row mb-4 mt-4">
            <div class="col-8 offset-2">
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation"
                    novalidate enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" class="form-control" type="text" name="listing[title]"
                            value="<%= listing.title %>" required>
                        <div class="invalid-feedback">
                            Title not Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" name="listing[description]"
                            placeholder="<%= listing.description %>" required></textarea>
                        <div class="invalid-feedback">
                            Description not Looks good!
                        </div>
                    </div>


                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input id="image" class="form-control" type="text" name="listing[image]"
                            value="<%#= listing.image %> required">
                            <div class="invalid-feedback">
                                Image not Looks good!
                            </div>
                    </div> -->


                    <div class="mb-3">
                        <h6>Original Listing Image</h6>
                        <img src="<%= newImageUrl %>" alt="Original Image">
                    </div>

                    <!-- update edit listing make capable to send file on database -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input id="image" class="form-control" type="file" name="listing[image]">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input id="price" class="form-control" type="number" name="listing[price]"
                                value="<%= listing.price %>" required>
                            <div class="invalid-feedback">
                                Price not Looks good!
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input id="location" class="form-control" type="text" name="listing[location]"
                                value="<%= listing.location %>" required>
                            <div class="invalid-feedback">
                                Location not Looks good!
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" class="form-control" type="text" name="listing[country]"
                            value="<%= listing.country %>" required>
                        <div class="invalid-feedback">
                            Country not Looks good!
                        </div>
                    </div>

                    <button class="btn btn-outline-success">Edit</button>
                </form>
            </div>
        </div>
    </body>